.gallery
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery li
{
    flex: 0 0 30%;
    list-style: none outside;
    background: #eee;
}
.gallery li a
{
    display: block;
    width: 100%;
    align-items: center;
    border: 0.5em solid #333;
}
.gallery img
{
    display: block;
}