.site
{
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}
.site-header
{
    display: flex;
    align-items: center;
}
.site-header nav
{
    margin-left: auto;
}
.site-nav a
{
    display: block;
    padding: 0.5em 1em; 
}
